body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/pexels-barnabas-davoti-11556304.jpg");
  background-size: cover;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
  font-family: "Luminari", sans-serif;
}

/* Board layout */
.title_bar {
  width: 100%;
  text-align: center;
}

.game_board {
  display: flex;
  justify-content: center;
}

.score_zone {
  display: block;
  background-color: #fcf5e5;
}

.middle {
  width: 30vw;
  margin: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}

/* Scoreboard styling */
.legal {
  background-color: lightgreen;
}

.nullable {
  background-color: lightcoral;
}

.active {
  color: red;
}

table {
  border: 1px solid;
}

.player_name {
  min-width: 80px;
}

.heading-line {
  font-size: 130%;
  font-weight: bold;
  background-color: #e7c9a9;
}

.total-line {
  font-style: italic;
  background-color: #fdd9b5;
}

.grand-total-line {
  font-weight: bold;
  font-style: italic;
  background-color: #e7c9a9;
}

.scoring {
  font-size: 70%;
}

/* Middle styling */
.mat {
  max-width: 10vw;
  max-height: 10vw;
}

.mat0 {
  position: absolute;
  top: 5vw;
  left: 0;
}

.mat1 {
  position: absolute;
  top: 0;
  left: 10vw;
}

.mat2 {
  position: absolute;
  top: 5vw;
  left: 20vw;
}

.mat3 {
  position: absolute;
  top: 15vw;
  left: 5vw;
}

.mat4 {
  position: absolute;
  top: 15vw;
  left: 15vw;
}

.buttons {
  position: absolute;
  top: 30vw;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.btn {
  font-family: inherit;
  background-color: #e7c9a9;
  height: 25px;
}

.rolls-counter {
  position: absolute;
  top: 35vw;
  left: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  color: #fff;
}

.rolls-remaining {
  margin-left: 10px;
  align-content: center;
  justify-content: center;
  color: #fff;
}

/* Dice styling */
.hidden {
  display: none;
}

.dice {
  width: 5vw;
  height: auto;
  position: absolute;
  /*left: 2vw;
  top: 2vw;*/
}

.dice0 {
  top: 2vw;
  left: 2vw;
  transform: rotate(30deg);
}

.hold {
  opacity: 0.5;
}
