@font-face {
  font-family: Luminari;
  src: url("assets/Luminari-Regular.ttf");
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/pexels-barnabas-davoti-11556304.jpg");
  background-size: cover;
  text-align: center;
  font-family: "Luminari", sans-serif;
  color: #e7c9a9;
}
